body {
  margin: 0;
}

.margin {
  margin: 100px;
}

.table {
  text-align: left;
  width: 100%;
}

.table td {
  padding-bottom: 10px;
  padding-top: 10px;
}

#menu {
  background-color: #253A46;
  font-size: 20px;
  padding: 20px;
}

#menu a {
  color: whitesmoke;
  padding-right: 50px;
}

.text-center {
  text-align: center;
}

.red {
  color: red;
}

.post_title {
  cursor: pointer;
  -webkit-box-shadow: 3px 4px 9px -1px rgba(163,163,163,0.54);
  -moz-box-shadow: 3px 4px 9px -1px rgba(163,163,163,0.54);
  box-shadow: 3px 4px 9px -1px rgba(163,163,163,0.54);
  padding: 25px;
  margin: auto;
  margin-bottom: 10px;
  width: 70%;
}

.post_title:hover {
  transform: scale(1.02);
  transition: all .50s ease-out;
}

.comments li{
  margin: 15px 0;
}

.tasks-container {
  font-size: 20px;
  margin-left: 50px;
  margin-bottom: 70px;
}

.save-tasks {
  width: 20rem;
}

.save-tasks input {
  float: right;
}

.flex-column {
  display: flex;
  flex-direction: column;
}
